<div class="footer1">
    <ul class="of1 clear">
        <li class="one">
            <a href="#">预约请咨询店内客服<br>请在婚期前3-6个月内进行预定</a>
        </li>
        <li class="two">
            <a href="#">弥亚摄影<br>查看地址及联系方式</a>
        </li>
        <li class="three">
            <a href="#">弥亚摄影作品欣赏<br>请点击这里</a>
        </li>
    </ul>
    <p class="one">
        郑重声明：弥亚摄影所展示的作品均来自真实客人定制照片，并经由客户本人同意在弥亚摄影唯一官方网站行发表。未经允许不得转载或用于任何商业用途，违者必究！
    </p>
    <p class="two">
        Works on display are from real customers custom photos, and I agree by the customer's official website be published. 
Shall not be reproduced without permission or used for any commercial 
    </p>
    <div class="img-icon"></div>
</div>

<div class="footer2">
    <a href="#" class="f-a">
        <p class="f-t1">
            <span>马上在线沟通</span>
            <b>CHAT NOW!</b>
        </p>
    </a>
    <div class="f-rig clear">
        <div class="f-txt">
            <p>高端<b>婚礼</b>摄影</p>
            <a href="#">Wedding photograph</a>
        </div>
        <div class="f-txt">
            <p>婚礼<b>跟拍</b></p>
            <a href="#">Wedding with pat</a>
        </div>
        <div class="f-txt">
            <p>户外<b>旅游</b>婚纱摄影</p>
            <a href="#">Travel wedding photography</a>
        </div>
    </div>
</div>
