<div class="top">
	<h1 class="txt">最新 <b>作品</b> 欣赏</h1>
	<div class="title width clear">
		<h3>
			<a href="#">摄影作品 <b>WORK</b></a>
			<p>Welcome To MIYA photography</p>
		</h3>
		<div class="left">
			<a>户外旅游婚纱摄影</a>
			<a >婚礼跟拍</a>
			<a>高端婚礼摄影</a>
			<a >婚礼艺术摄影</a>
		</div>
	</div>
</div>
<div class="show-box">
	<div class="show width">
		<div class="img-box clear">
			<div class="img-list">
				<div class="imgof">
					<img src="images/enj1.jpg" alt="">
				</div>
				<a href="detail.html" class="mask"></a>
				<div class="txt">
					<p>十月新都桥婚纱照片——新桥恋人</p>
					<h2>POST TIME:2014/05/05</h2>
				</div>
			</div>
			<div class="img-list">
				<div class="imgof">
					<img src="images/enj2.jpg" alt="">
				</div>
				<a href="detail.html" class="mask"></a>
				<div class="txt">
					<p>十月康定婚纱照片——日光倾城</p>
					<h2>POST TIME:2014/05/05</h2>
				</div>
			</div>
			<div class="img-list">
				<div class="imgof">
					<img src="images/enj3.jpg" alt="">
				</div>
				<a href="detail.html" class="mask"></a>
				<div class="txt">
					<p>十月康定婚纱照片欣赏</p>
					<h2>POST TIME:2014/05/05</h2>
				</div>
			</div>
		</div>
		<p class="last">共1页3条记录</p>
	</div>
	<div class="show width">
		<p class="last">婚礼跟拍  共0页0条记录</p>
	</div>
	<div class="show width">
		<p class="last">高端婚礼摄影  共0页0条记录</p>
	</div>
	<div class="show width">
		<p class="last">婚礼艺术摄影  共0页0条记录</p>
	</div>
</div>
